#wrapper{
    position:relative;
    width:95vw;
    max-width:800px;
    margin:auto;
}

#pointer{

    position:absolute;

    top:-18px;
    left:50%;

    transform:translateX(-50%);

    width:0;
    height:0;

    border-left:16px solid transparent;
    border-right:16px solid transparent;
    border-top:26px solid white;

    z-index:100;

}

#wheelContainer{

    width:min(95vw,95vh);
    height:min(95vw,95vh);

    margin:auto;

    display:flex;
    justify-content:center;
    align-items:center;

}

#wheel{

    width:100%;
    height:100%;

    display:block;

    transform-origin:center center;

    transition:transform 5s cubic-bezier(.17,.67,.24,1);

}

#currentPlayer{

    font-size:32px;
    font-weight:bold;

    margin:20px 0;

}

#overlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.8);

    display:none;

    justify-content:center;
    align-items:center;

    z-index:999;

}

#overlayCard{

    background:white;

    color:black;

    padding:40px;

    border-radius:20px;

    min-width:320px;

    text-align:center;

}

#winnerPlayer{

    margin-bottom:15px;

}

#winnerTee{

    font-size:60px;

    margin-bottom:20px;

}

#wheelWrapper{

    position:relative;

    width:320px;
    height:320px;

    margin:40px auto;

}

#spinButton{

    width:100%;

    margin-top:40px;

}